.element-config-modal-outer + .select2-container {
    z-index: 1050 !important;
}

[data-identificator] {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.25;
    }
}